.section-eighth {
    // background: linear-gradient(0.51deg, #757575 -39.92%, rgba(117, 117, 117, 0.04) 99.57%);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(117,117,117,1) 100%);
    // background-color: #212121;
    height: 680px;
    margin: auto;
    width: 1280px;
}
.section-eighth-content {
    height: 500px;
    margin: auto;
    width: 1080px;
    display: flex;
    justify-content: space-between;
}
.section-eighth-map {
    height: 480px;
    width: 640px;
}
.section-eighth-feedback-form {
    height: 390px;
    width: 360px;
    ul {
        color: #FFFFFF;
        li:nth-child(1) {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            text-transform: uppercase;
        }
        li:nth-child(2) {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 100;
            font-size: 18px;
            line-height: 150%;
        }
    }
}
.section-eighth-footer-nav {
    height: 90px;
    width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.section-eighth-bottom-bar {
    background-color: #212121;
    height: 40px;
    margin: auto;
    width: 1280px;
    color: #FFFFFF;
    p {
        margin: 55px 0 0 40px;
        padding: 12px 0 0 0;
    }
}
.footer-nav__logo {
    height: 90px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav__nav1 {
    height: 90px;
    width: 125px;
    ul {
        display: grid;
        gap: 20px;
        li {
            display: block;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}
.footer-nav__nav2 {
    height: 90px;
    width: 125px;
    ul {
        display: grid;
        gap: 20px;
        li {
            display: block;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}
.footer-nav__contact {
    height: 90px;
    width: 325px;
    ul {
        display: grid;
        gap: 20px;
        li {
            color: #FFFFFF;
        }
    }
}
.footer-nav__icons {
    height: 90px;
    width: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback-form {
    form {
        height: 230px;
        display: grid;
    }
    display: flex;
    height: 285px;
    align-items: end;
    .input-field {
        &:hover {
            color: #FFFFFF;
        }
        &:active {
            border: 1px solid #009688;
        }
    }
    .request-a-call-button {
        &:hover {
            background: #00796B;
            border: 1px solid #00796B;
        }
        &:active {
            background: #00796B;
            box-shadow: inset 0px 7px 10px rgba(33, 33, 33, 0.54);
            border: 1px solid #00796B;
        }
    }
}