.section-eighth {
    background-color: #212121;
    height: 740px;
    margin: auto;
    width: 1280px;
    border: 1px solid green;
}
.section-eighth-content {
    height: 500px;
    margin: auto;
    width: 1080px;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
}
.section-eighth-map {
    border: 1px solid green;
    height: 480px;
    width: 640px;
}
.section-eighth-feedback-form {
    border: 1px solid green;
    height: 390px;
    width: 360px;
}
.section-eighth-footer-nav {
    border: 1px solid green;
    height: 90px;
    width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.section-eighth-bottom-bar {
    height: 40px;
    margin: auto;
    width: 1280px;
    border: 1px solid green;
}
.footer-nav__logo {
    height: 90px;
    width: 125px;
    border: 1px solid green;
}
.footer-nav__nav1 {
    height: 90px;
    width: 125px;
    border: 1px solid green;
}
.footer-nav__nav2 {
    height: 90px;
    width: 125px;
    border: 1px solid green;
}
.footer-nav__contact {
    height: 90px;
    width: 325px;
    border: 1px solid green;
}
.footer-nav__icons {
    height: 90px;
    width: 125px;
    border: 1px solid green;
}