.section-two {
    background-color: #212121;
    width: 1280px;
    height: 880px;
    margin: auto;
}
.section-two__rectangle {
    margin: 0 50px;
    position: absolute;
    width: 1120px;
    height: 90px;
    background: #D9D9D9;
}
.section-two-description-of-work {
    margin: -440px 0 0 0;
    position: absolute;
    li {
        color: #f0f0f0
        ;
    }
}
.section-two--description_big {
    font-family: 'e-Ukraine';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin: 30px 0 0 650px;
}
.section-two--description_small {
    font-style: normal;
    font-family: 'e-Ukraine';
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    width: 400px;
    margin: 20px 0 0 650px;
}
.section-two-number-of-text {
    p {
        margin: 0 0 0 50px;
        color: #f0f0f0;
        font-family: 'e-Ukraine Head';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        text-transform: uppercase;
        padding: 90px 0 0 0;
    }
    ul {
        color: #f0f0f0;
        margin: -70px 0 0 140px;
        img {
            display: flex;
            width: 550px;
            height: 2px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }
        li {
            margin: 95px 0 0 0;
            font-family: 'e-Ukraine Head';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            text-transform: uppercase;
            color: #009688;
        }
    }
    width: 500px;
    height: 740px;
    display: contents;
}
.order-the-measurer-button {
    margin: 150px 0 0 450px;
    &:hover {
        border: 1px solid #00796B;
        background-color: transparent;
    }
    &:active {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #00796B;
        box-shadow: inset 0px 7px 10px rgba(33, 33, 33, 0.54);
    }
}